/* src/styles/dashboard.css */

.dashboard-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    height: 100vh; /* Full viewport height */
    background-color: #eef2fc;
  }
  
  .sidebar {
    width: 250px;
    height: 750px;
    background-color: #0f1c3b;
    padding: 120px 1rem 1rem 1rem;
    display: flex;
    overflow-y: auto;
    z-index: 1000;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
    overflow: hidden;
  }
  
  .sidebar-button {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 12px;
    justify-content:flex-end;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease;

  }

  .sidebar button:hover {
    background-color: #032870;
  }
  
  .sidebar-icon {
    font-size: 1.5rem;
  }

    
  .sidebar:not(.collapsed) .logo-she-img {
    display: block;
  }

  .sidebar.collapsed {
    width: 80px; /* o el tamaño que quieras */
  }
  
  .icon-container {
    min-width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-she-container {
    position: absolute;
    top: 60px;
    left: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    z-index: 1000;
  }
  
  .logo-she-img {
    position: absolute;
    left: 1rem;
    height: 70px;
    width: auto;
  }

  .mini-logo-she-img {
    position: absolute;
    top: 55px;
    left: 8px;
    width: 51px;
    height: auto;
    padding-left: 10px;
    transition: opacity 0.3s ease;
  }

  
  .main-content {
    flex-grow: 1;
    margin-left: 250px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 20px; /* Ajusta el padding según lo necesites */
    transition: margin-left 0.3s ease;
    height: 100vh;
  }

  .main-content.collapsed {
    margin-left: 60px; /* ajusta según el ancho colapsado */
  }


  .logout-button {
    background-color: blue;
    position: absolute;
    bottom: 20px;
    left: 20px;
  }

  .home-logo-button {
    background-color: transparent;
    outline: none;
  }

  
  .home-logo-button:focus {
    outline: none; /* Elimina el borde cuando el botón tiene el foco */
  }


  .collapse-button {
    position: absolute;
    top: 50%; /* Vertically center */
    left: 250px; /* Adjust for expanded sidebar width */
    transform: translateY(-50%); /* Center vertically */
    z-index: 1000;
    background-color: #0f1c3b; /* Match sidebar background */
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
  }


  .sidebar.collapsed + .collapse-button {
  left: 80px; /* Adjust for collapsed sidebar width */
}

.collapse-button:hover {
  background-color: #032870; /* Highlight on hover */

}

.collapse-icon {
  font-size: 1.5rem; /* Adjust icon size */
}

.layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.mb-4 {
  margin-bottom: 2rem;
}

.main-content h1 {
  margin-bottom: 2rem; /* Adjust the value as needed */
}

.dashboard-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  background-color: #eef2fc;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-height: fit-content;
}

.dashboard-content h1.welcome-title {
  color: #0f1c3b;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  padding-left: 20px;
}

.dashboard-widgets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  width: 100%;
  padding: 1rem;
  margin-top: 2rem;
}
