/* src/styles/login.css */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: black;
  }
  
  /* Opcional: fondo blanco para toda la página */
  body {
    background-color: #e2e2e2;
  }
  
  /* Contenedor principal que debe ocupar todo el viewport */
  .login-container {
    position: relative;
    display: flex;
    justify-content: center;  /* Centrado horizontal */
    align-items: center;      /* Centrado vertical */
    width: 100vw;             /* Ancho completo del viewport */
    height: 100vh;            /* Altura completa del viewport */
    background-color: #82a6f9; /* Fondo de la foto */
  }

  .login-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/fondo-instalaciones.png"); /* <-- Ajusta el path */
    background-size: cover;
    background-position: center;
    opacity: 0.15; /* Puedes ajustar la opacidad aquí */
    z-index: 0;
  }
  
  .logo-container {
    position: relative;
    background-color: #ffffff;
    padding: 40px;
    margin-right: 150px;
    border-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-img {
    height: 250px;
    width: auto;
    display: block;
  }

  /* Estilos para el formulario de login */
  .login-form {
    position: relative;
    width: 300px;
    padding: 2rem;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    text-align: center; /* Opcional, centra el contenido interno */
  }
  
  .login-form h2 {
    margin-bottom: 1.5rem;
  }

  .form-group {
    margin-bottom: 1rem;
    text-align: left; /* Alinea a la izquierda las etiquetas e inputs */
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 14px;
    font-weight: 500;
  }
  
  .form-group input {
    width: 94%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    background-color: #2837F6;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #2837F6;
  }

  .back-to-login-link {
    display: inline-block;
    margin-top: 1rem;
    color: #2837F6;
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
  }
  
  .back-to-login-link:hover {
    text-decoration: none;
  }
  

  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .video-fullscreen {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }